@model StateTemplateV5Beta.ViewModels.AccountVM
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var active = new StateTemplateV5Beta.Controllers.SecurityController(Model.Active);

    // TODO: fix PutUser - it deletes account information / doesn't work as intended.
}

<div class="section">

    <h1>Account Settings</h1>
    <!-- Account Information -->
    @using (Html.BeginForm("PutUser", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.ValidationSummary(false, "", new { @class = "" })
    <div class="panel panel-primary">
        <div class="panel-heading"><h2>Account Information</h2></div>
        <div class="row p-t p-l-md">
            <label>Email</label>
        </div>
        <div class="row p-l-md">
            <input type="text" style="width:250px" value="@Model.Email" id="Email" name="ID" tabindex="1">
        </div>
        <input type="hidden" name="active" value="@Model.Active" />
        <div class="row p-t p-l-md">
            <label>First Name</label><br />
        </div>
        <div class="row p-l-md">
            <input type="text" style="width:250px" value="@Model.FirstName" id="first-name" name="FName" tabindex="2">
        </div>

        <div class="row p-t p-l-md">
            <label>Last Name</label>
        </div>
        <div class="row p-l-md">
            <input type="text" style="width:250px" value="@Model.LastName" id="last-name" name="LName" tabindex="3">
        </div>
        <div class="row p-t p-l-md">
            <label>Organization</label>
        </div>
        <div class="row p-b p-l-md">
            <input type="text" style="width:250px" value="@Model.Organization" id="org" name="Organization" tabindex="4">
        </div>
        <div>
            <input type="hidden" name="active" id="active" value="@Model.Active" />
        </div>
    </div> <!-- end account container -->
        <!-- Change Password -->
        <div class="panel panel-primary"> <!--TODO: add checks to password similar to registration -->
            <div class="panel-heading"><h2>Change Password</h2></div>
            <div class="row p-t p-l-md">
                <label>Current password</label>
            </div>
            <div class="row p-l-md">
                <input type="password" style="width:250px" placeholder="Current password" id="current-password" name="currentPassword" tabindex="5">
            </div>
            <div class="row p-t p-l-md">
                <label>New password</label>
            </div>
            <div class="row p-l-md">
                <input type="password" style="width:250px" placeholder="New password" id="password" name="Passhash" tabindex="6" onchange='checkLength();'>
                <span id='pw_message'></span>
            </div>
            <div class="row p-t p-l-md">
                <label>Reenter password</label>
            </div>
            <div class="row p-b p-l-md">
                <input type="password" style="width:250px" placeholder="Reenter password" id="reenter-password" name="reenterPassword" tabindex="7" onkeyup='check();'>
                <span id='message'></span>
            </div>
        </div> <!-- end password container -->

        <input type="submit" value="Submit" id="submit" class="btn btn-lg btn-primary" disabled="disabled" />

    }
    @Scripts.Render("~/Scripts/register-check.js")
</div> <!-- end section -->

