@model StateTemplateV5Beta.ViewModels.InventoryVM
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var SC = new StateTemplateV5Beta.Controllers.SecurityController(Model.Active);
    var blankRows = 0;
    if (Model.Systems.Length <= 11)
    {
        blankRows = 11 - Model.Systems.Length;
    }
    // ****** Colors ******
    // light blue: 9FC7DA
    // primary blue: 046B99
    // dark blue: 035376
    // ********************

    // TODO: INVENTORY - implement delete button
}
<style type="text/css">
    #submit {
        background-color: #046B99;
        padding: .5em;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 6px;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        border: none;
    }

        #submit:hover {
            border: none;
            background: #035376;
            box-shadow: 0px 0px 1px #035376;
        }
</style>

<div class="section">

    <div class="container">
        <div class="row m-b-sm">
            <div class="col-xs-9">
                <h1>AEIS System Inventory</h1>
            </div>
            <!-- Add New System Button -->
            <div class="col-xs-3" style="text-align:right">
                <h1>
                    <button type="button" id="btnAddSystem" class="btn btn-primary btn-sm" title="Add New System" 
                            onclick="window.location.href='/Survey/NameSurvey?actives=@Model.Active.ID&activeLog=@Model.Active.IsLoggedIn.ToString()&activeRem=@Model.Active.Remember.ToString()'">
                        Add New System
                    </button>
                </h1>
            </div>
        </div>

        <!-- Inventory System Table -->
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered" style="white-space:nowrap;" id="overlay">
                    <thead>
                        <tr bgcolor="#F1F1F1" style="white-space:nowrap; overflow: hidden; text-overflow: ellipsis;">
                            @using (Html.BeginForm("Inventory", "Home", FormMethod.Post))
                            {
                                <th style="text-align:center"><button type="submit" id="submit" name="sort" value="name"> Application / System Name</button></th>
                            }
                            @for (int i = 0; i < Model.SectionTitles.Length; i++)
                            {
                                using (Html.BeginForm("Inventory", "Home", FormMethod.Post))
                                {
                                    <th style="text-align:center"><button type="submit" id="submit" name="sort" value="@i">@Model.SectionTitles[i]</button></th>
                                }
                            }
                            @using (Html.BeginForm("Inventory", "Home", FormMethod.Post))
                            {
                                <th style="text-align:center"><button type="submit" id="submit" name="sort" value="totalScore">Total</button></th>
                            }
                        </tr>
                    </thead>
                    @for (int i = 0; i < Model.Systems.Length + blankRows; i++)
                    {

                        <tr bgcolor="@(i % 2 == 1 ? "#F7F7F7" : "")">
                            @if (i < Model.Systems.Length)
                            {
                            <td style="vertical-align:middle">@Model.Systems[i].Name</td>
                            for (int j = 0; j < Model.Systems[i].SectionScores.Length; j++)
                            {
                                <td style="vertical-align:middle">@Model.Systems[i].SectionScores[j]</td>
                            }
                            <td style="vertical-align:middle">@Model.Systems[i].ScoreTotal</td>

                            <td style="text-align:center; vertical-align:middle">
                                @using (Html.BeginForm("StartSurvey", "Survey", FormMethod.Post))
                                {
                                    <button type="submit" name="btnEditSurvey" value="@Model.Systems[i].AId" class="btn btn-primary btn-sm" title="Edit Survey">
                                        <i class="ca-gov-icon-pencil-edit"></i>
                                    </button>
                                }
                            </td>
                            <td style="text-align:center; vertical-align:middle">

                                    @if (Model.Systems[i].HasUnanswered)
                                    {
                                        <button type="button" name="btnJustification" class="btn btn-primary btn-sm" title="All questions in the survey must be answered before printing" disabled>
                                            <i class="ca-gov-icon-print"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" name="btnJustification" class="btn btn-primary btn-sm" title="Print Justification" 
                                                onclick="window.location.href='/Home/Justification?actives=@Model.Active.ID&activeLog=@Model.Active.IsLoggedIn.ToString()&activeRem=@Model.Active.Remember.ToString()&aId=@Model.Systems[i].AId'">
                                            <i class="ca-gov-icon-print"></i>
                                        </button>
                                    }
                                
                            </td>
                            <td style="text-align:center; vertical-align:middle">
                                <button type="button" name="btnDeleteSurvey" value="@Model.Systems[i].AId" class="btn btn-primary btn-sm" title="Delete System" onclick="confirm('Remove \'@Model.Systems[i].Name\' from Inventory?')">
                                    <i class="ca-gov-icon-close-fill"></i>
                                </button>
                            </td>
                            }
                            else
                            {
                                for (int j = 0; j < Model.SectionTitles.Length + 2; j++)
                                {
                                    <td style="height:50px"></td>
                                }
                            }

                        </tr>
                    }
                </table>

            </div> <!-- end system table column -->
        </div> <!-- end system table row -->
    </div> <!-- end container -->
</div> <!-- end section -->