@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string[] db = new string[6] { "name", "##", "##", "##", "##", "##" };
}

<div class="section">
    <h1 class="text-center">AEIS System Inventory</h1>
    <div class="row p-b-lg">
        <div class="offset-quarter half">
            <table class="table table-bordered" style="white-space:nowrap;">
                <thead>
                    <tr style="white-space:nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <th style="text-align:center">Application / System Name</th>
                        <th style="text-align:center">Public Services</th>
                        <th style="text-align:center">Internal Services</th>
                        <th style="text-align:center">Accessibility</th>
                        <th style="text-align:center">Life Span</th>
                        <th style="text-align:center">Total</th>
                    </tr>
                </thead>

                @foreach (var item in db)
                {
                    <tr>
                        <td>@db[0]</td>
                        <td>@db[1]</td>
                        <td>@db[2]</td>
                        <td>@db[3]</td>
                        <td>@db[4]</td>
                        <td>@db[5]</td>
                        <td style="text-align:center">
                            <button type="button" class="btn btn-primary btn-sm" title="Edit" onclick="editSelectedForm()">
                                <i class="ca-gov-icon-pencil-edit"></i>
                            </button>
                        </td>
                        <td style="text-align:center">
                            <button type="button" class="btn btn-primary btn-sm" title="Delete" onclick="confirm('Delete @db[0] ?')">
                                <i class="ca-gov-icon-close-fill"></i>
                            </button>
                        </td>
                    </tr>
                }

            </table>
        </div> <!-- end offset -->
    </div> <!-- end row -->
</div> <!-- end section -->
