@{
    ViewBag.Title = "Justification";

    Layout = "~/Views/Shared/_Layout.cshtml";

    /* Database access reference
    var acontroller = new StateTemplateV5Beta.Controllers.AnswersController();
    var ucontroller = new StateTemplateV5Beta.Controllers.UsersController();

    var Name = MvcApplication.environment.GetSectionCount();
    var Public = MvcApplication.environment.GetQuestionCount();
    var Internal = MvcApplication.environment.GetDBSource();
    var Accessibility = MvcApplication.environment.GetInitCatalog();
    //var System = ucontroller.GetU(MvcApplication.active.GetID()).Orginization; //Throws an error?
    var Total = MvcApplication.environment.GetSectionName(1);
    */

    // TODO: JUSTIFICATION - separate header and print button from printable content
    // TODO: JUSTIFICATION - link to database for displaying information
    // TODO: JUSTIFICATION - display database info for passed variable

    var Name = "System Name";
    var Public = "##";
    var Internal = "##";
    var Accessibility = "##";
    var System = "##";
    var Total = "##";
    var descriptionHeight = "190px";
    var servicesHeight = "190px";
    var impactHeight = "190px";
}
<style>
    #JustificationPage {
        border: 2px solid black;
        height: 1100px;
        width: 850px;
    }
</style>
<main class="main-primary">


    <div class="container m-t-sm m-b-sm" id="JustificationPage">
        <div class="section" id="printable">
            <!-- Print button -->
            <div class="row hidden-print" style="text-align:right">
                <div class="col-xs-12">
                    <button onclick="myFunction('printable')">Print this page</button>
                    <script>
                        function myFunction(divName) {
                            var printContents = document.getElementById(divName).innerHTML;
                            var originalContents = document.body.innerHTML;

                            document.body.innerHTML = printContents;

                            window.print();

                            document.body.innerHTML = originalContents;
                        }
                    </script>
                </div>
            </div><!-- End Print Button -->

            <h1 class="hidden-print">Summary / Justification</h1>

        <div class="row">
            <h2 class="text-center p-t-md p-b-md"><strong>AEIS Assessment for '@Name'</strong></h2>

            <!-- Breakdown -->
            <div class="col-xs-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3" class="text-center">AEIS Breakdown</th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="text-right" style="width: 65%">Public Services:</td>
                        <td style="width: 15%"></td>
                        <td class="bg-primary text-center"><strong>@Public</strong></td>
                    </tr>
                    <tr>
                        <td class="text-right">Internal Services:</td>
                        <td></td>
                        <td class="bg-primary text-center"><strong>@Internal</strong></td>
                    </tr>
                    <tr>
                        <td class="text-right">Accessibility Testing:</td>
                        <td></td>
                        <td class="bg-primary text-center"><strong>@Accessibility</strong></td>
                    </tr>
                    <tr>
                        <td class="text-right">System Life Span:</td>
                        <td></td>
                        <td class="bg-primary text-center"><strong>@System</strong></td>
                    </tr>
                    <tr>
                        <td class="text-right">Total:</td>
                        <td></td>
                        <td class="bg-primary text-center"><strong>@Total</strong></td>
                    </tr>
                </table>
            </div> <!-- end breakdown column -->
            <!-- System Descripton -->
            <div class="col-xs-7">
                <div class="panel panel-primary" style="height:100%;">
                    <div class="panel-heading text-center"><strong>System Description:</strong></div>
                    <div class="panel-body" style="height: @descriptionHeight">
                        <!--<input id="SysDesc" class="form-control" type="text" placeholder="System Description">-->
                    </div>
                </div>
            </div> <!-- end system description column -->
        </div> <!-- end breakdown and description row -->
        <!-- Services -->
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>Services that the system provides to the general public:</strong></div>
                    <div class="panel-body" style="height:@servicesHeight;"></div>
                </div> <!-- end panel -->
            </div>
        </div> <!-- end services row -->
        <!-- Impact -->
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>Impact of <u>not</u> having access to the system:</strong></div>
                    <div class="panel-body" style="height:@impactHeight;"></div>
                </div>
            </div> <!-- end panel -->
        </div> <!-- end impact row -->

    </div> <!-- end section -->
    </div> <!-- end container -->
</main>