@{
    ViewBag.Title = "Justification";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var question = new StateTemplateV5Beta.Models.Question();
    var qcontroller = new StateTemplateV5Beta.Controllers.QuestionsController();
    var answer = new StateTemplateV5Beta.Models.Answer();
    var acontroller = new StateTemplateV5Beta.Controllers.AnswersController();
    var user = new StateTemplateV5Beta.Models.User();
    var ucontroller = new StateTemplateV5Beta.Controllers.UsersController();
    question = qcontroller.GetQ(1);
    var Name = question.Text;
    var Public = "##";
    var Internal = "##";
    var Accessibility = "##";
    var System = "##";
    var Total = "##";
}
<script>
    var page = document.getElementById("JustificationPage");
    page.style.height = string(550) + "px";
    page.style.width = string(425) + "px";
    
</script>
<style>
    #JustificationPage {
        border: 2px solid black;
        height: 1100px;
        width: 850px;
    }
</style>
<main class="main-primary">
	<div class="container" id="JustificationPage">
		<div class="section" id="printable">
			<h1>Summary / Justification</h1>
        
			<div class="row">
				<h2 class="text-center">AEIS Assessment for '@Name'</h2>
                
                <!-- Breakdown -->
				<div class="col-xs-5">
					<table class="table">
						<thead>
							<tr>
								<th colspan="3" class="text-center">AEIS Breakdown</th>
							</tr>
						</thead>
						<tr>
							<td class="text-right" style="width: 65%">Public Services:</td>
							<td style="width: 15%"></td>
							<td class="bg-primary text-center"><strong>@Public</strong></td>
						</tr>
						<tr>
							<td class="text-right">Internal Services:</td>
							<td></td>
							<td class="bg-primary text-center"><strong>@Internal</strong></td>
						</tr>
						<tr>
							<td class="text-right">Accessibility Testing:</td>
							<td></td>
							<td class="bg-primary text-center"><strong>@Accessibility</strong></td>
						</tr>
						<tr>
							<td class="text-right">System Life Span:</td>
							<td></td>
							<td class="bg-primary text-center"><strong>@System</strong></td>
						</tr>
						<tr>
							<td class="text-right">Total:</td>
							<td></td>
							<td class="bg-primary text-center"><strong>@Total</strong></td>
						</tr>
					</table>
				</div> <!-- end breakdown column -->

                <!-- System Descripton -->
				<div class="col-xs-7">
					<div class="panel panel-primary" style="height:100%;">
						<div class="panel-heading text-center"><strong>System Description:</strong></div>
                        <div class="panel-body">
                            <input id="SysDesc" class="form-control" type="text" placeholder="System Description">
                        </div>
					</div>
				</div> <!-- end system description column -->
			</div> <!-- end breakdown and description row -->
            
            <!-- Services -->
			<div class="row">
                <div class="col-xs-12">
				    <div class="panel panel-primary">
					    <div class="panel-heading"><strong>Services that the system provides to the general public:</strong></div>
					    <div class="panel-body" style="height:90px;"></div>
				    </div> <!-- end panel -->
                </div>
			</div> <!-- end services row -->
			
            <!-- Impact -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><strong>Impact of <u>not</u> having access to the system:</strong></div>
                        <div class="panel-body" style="height:90px;"></div>
                    </div>
                </div> <!-- end panel -->
            </div> <!-- end impact row -->

            </div> <!-- end section -->
	</div> <!-- end container -->

    <!-- Print button -->
	<div>
        <button onclick="myFunction('printable')">Print this page</button>
        <script>
            function myFunction(divName) {
                var printContents = document.getElementById(divName).innerHTML;
                var originalContents = document.body.innerHTML;

                document.body.innerHTML = printContents;

                window.print();

                document.body.innerHTML = originalContents;
            }
        </script>
    </div>
</main>