@model StateTemplateV5Beta.ViewModels.InventoryVM
@{
    ViewBag.Title = "TextAnalysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var SC = new StateTemplateV5Beta.Controllers.SecurityController(Model.Active);
    // TODO: TEXT ANALYSIS - add adjustment for how many systems are currently displayed (possibly a dropdown list w/ numbers 2-10?)
}

<div class="section">

    <h1>AEIS Inventory Text Analysis</h1>
    <p>
        AEIS analysis was performed on the submitted inventory.<br>
        Below is the scoring results for the top @Model.Systems.Length systems in descending order.
    </p>

    @for (int i = 1; i <= Model.Systems.Length; i++)
    { 
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>#@i - @Model.Systems[i - 1].Name - AEIS Score: @Model.Systems[i - 1].ScoreTotal</h3></div>
            <div class="panel-body">
                Score #@i given to @Model.Systems[i - 1].Name with an AEIS of @Model.Systems[i - 1].ScoreTotal. <br>
                Scoring breakdown for '@Model.Systems[i - 1].Name' is as follows:<br>

            @for (int j = 0; j < Model.SectionTitles.Length; j++)
            {
            <div>@Model.Systems[i - 1].SectionScores[j] points for '@Model.SectionTitles[j]'<br></div>
            }
            </div> <!-- end panel body -->
        </div> <!-- end panel -->
    }
</div> <!-- end section -->

