@model StateTemplateV5Beta.Models.SurveyQuestionViewModel

@{
    ViewBag.Title = "SurveyQuestions";
}

<div class= "section">
    <div class="offset-quarter half">
        <h1 class="text-center">Survey Questions</h1>

        @using (Html.BeginForm("AnswerQuestion", "Survey", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "" })

            
                <div style="text-align:center">
                    <label class="control-label">
                        @Html.LabelFor(x => x.Question)
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Question, new { @class = "form-control", @title = "Fill out the surevy name", @required = "", @readonly = true })
                    </div>
                </div>

                <div style="text-align:left">
                    <label class="control-label">
                        @Html.LabelFor(x => x.Answer)
                    </label>
                    <div class="controls">
                        @Html.RadioButtonFor(x => x.Answer, true)
                        Yes

                    </div>
                    <div class="controls">
                        @Html.RadioButtonFor(x => x.Answer, false)
                        No
                        <div class="hidden">
                            @Html.TextBoxFor(m => m.CurrentID)
                            @Html.TextBoxFor(m => m.ProgramName)
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" id="submitButton" class="btn btn-block btn-primary">
                        Next
                    </button>
                </div>
                }
            </div>
    </div>
